:root {
  --body-color: #050505;
  --container-color: #575757;
  --very-light-blue: #f1faff;
  --text-input-field: #111111;
  --contrast: rgba(252, 176, 69, 1);
  --sunshine-gradient: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  --nav-elements: 1.1rem;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}
