.aside-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-component {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-title {
  margin: 0 3px;
}

.spotify {
  display: flex;
  margin-bottom: 20px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
}

.btn-review {
  font-family: "Montserrat", sans-serif;
  background-color: transparent;
  color: black;
  border-color: black;
  border-width: 1px;
  border-radius: 5px;
  padding: 7px 12px;
  margin-bottom: 15px;
}

.review-description {
  font-size: var(--sm);
  // text-align: center;
  border: 1px solid grey;
  margin: 0 8px 8px;
  padding: 0 8px;
  max-width: 500px;
}

hr.division {
  width: 80%;
  border-top: 1px solid grey;
}

.aside-component-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0px 20px;
}

.tiktok {
  max-width: 100%;
  overflow-x: hidden;
}

.instagram {
  margin: 20px 0 0;
  overflow-x: hidden;
  
}

.btn-subscribe {
  background-color: rgb(201, 0, 0);
  color: white;
  border-color: transparent;
  margin-bottom: 30px;
  border-radius: 4px;
}

.btn-subscribe:hover {
  background-color: rgb(201, 0, 0);
  border-color: rgb(201, 0, 0);
  color: white;
}

.btn-subscribe:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

@media (min-width: 1050px) {
  .aside-block {
    background-color: black;
    color: white;
    max-width: 25vw;
    border-left: solid 1px grey;
    border-radius: 9px;
  }
  .review-title {
    border-bottom: 1px solid var(--contrast);
    padding: 25px 0;
  }
  .spotify {
    padding-top: 20px;
  }
  .btn-review {
    color: white;
    border-color: white;
  }
  .tiktok,
  .instagram {
    max-width: 259px;
  }
}

@media (min-width: 1136px) {
  .tiktok,
  .instagram {
    max-width: 280px;
  }
}

@media (min-width: 1250px) {
  .review-description {
    max-width: 300px;
  }
  .tiktok,
  .instagram {
    max-width: 310px;
  }
}

@media (min-width: 1313px) {
  .tiktok,
  .instagram {
    max-width: 100%;
  }
}

@media (min-width: 1600px) {
  .review-description {
    font-size: var(--md);
  }
  .review-description {
    max-width: 350px;
  }
}
