.aside-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aside-component-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 40px 20px;
}

.aside-component {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 9px;
  margin-bottom: 40px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
}

.review-component {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-component p {
  padding: 0 10px;
}

.spotify {
  max-width: 300px;
  height: 500px;
}

.spotify > img {
  max-width: 300px;
  height: 400px;
  object-fit: cover;
}

hr.division {
  width: 80%;
  border-top: 1px solid grey;
}

.tiktok,
.instagram {
  max-width: 300px;
  height: 500px;
}

.aside-component > img {
  height: 100%;
  width: 100%vw;
  object-fit: cover;
  border-radius: 9px;
}

.btn-subscribe {
  background-color: rgb(201, 0, 0);
  color: white;
  border-color: transparent;
  margin-bottom: 30px;
  border-radius: 4px;
}

.btn-subscribe:hover {
  background-color: rgb(201, 0, 0);
  border-color: rgb(201, 0, 0);
  color: white;
}

.btn-subscribe:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

@media (min-width: 1050px) {
  .aside-block {
    background-color: black;
    color: white;
    max-width: 25vw;
    border-left: solid 1px grey;
    border-radius: 9px;
  }

  .review-title {
    border-bottom: 1px solid var(--contrast);
    padding: 25px 0;
  }

  .aside-component {
    max-width: 250px;
    //  height: 500px;
  }
}

@media (min-width: 1250px) {
  .aside-component {
    max-width: 300px;
    //  height: 500px;
  }
}

@media (min-width: 1600px) {
  .aside-component {
    max-width: 350px;
    //  height: 500px;
  }
}
