@import "vars";

.cardi {
  width: 175px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: var(--sm);
  align-items: center;
}

.card--image {
  min-height: 262px;
  width: 100%;
  object-fit: cover;
  border-radius: 9px;
  margin-bottom: 9px;
}

.card--title {
  margin-top: 5px;
  display: flex;
  align-items: center;
  min-height: 80px;
}

.card--price {
  margin: 5px 0 14px;
}

.events-card-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
  padding: 20px 8px 0 8px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
}
