.container-footer {
  background-color: rgb(0, 75, 136);
  
}

.footer {
  font-size: 12px;
  padding: 20px;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right {
  text-align: center;
  min-width: 49px;
  max-width: 50px;
  margin-left: 40px;
}

.right img {
  width: 38px;
}

.go-top {
  
}

.right:hover,
.left a:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media (min-width: 1200px) {
  .footer {
    padding: 20px 100px;
  }
}
