@import "vars";

* {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}



body {
  background-color: var(--body-color);
  color: var(--very-light-blue);
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.main { // no matter how small main content would be, footer will always be at bottom
  min-height: 76.8vh;
}

.center {
  text-align: center;
}

.small {
  font-size: var(--sm);
}

.medium {
  font-size: var(--md);
}

.large {
  font-size: var(--lg);
}

.bold {
  font-weight: 700;
}

.btn {
  background-color: transparent;
  color: var(--contrast);
  border: 1px solid var(--contrast);
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  font-size: var(--md);
  font-weight: 700;
  padding: 10px 15px;
}

.btn:hover {
  background-color: var(--contrast);
  color: var(--body-color);
  cursor: pointer;
}

.pink {
  color: pink;
}

a {
  color: white;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 875px) {
  .container {
    align-items: center;
  }
}
