@import "vars";

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(20, 20, 20);
  color: var(--very-light-blue);
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.center {
  text-align: center;
}

.small {
  font-size: var(--sm);
}

.medium {
  font-size: var(--md);
}

.large {
  font-size: var(--lg);
}

.bold {
  font-weight: 700;
}

.btn {
  background-color: var(--body-color);
  color: var(--contrast);
  border: 1px solid var(--contrast);
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  font-size: var(--md);
  font-weight: 700;
  padding: 10px 15px;
}

.btn:hover {
  background-color: var(--contrast);
  color: var(--body-color);
  cursor: pointer;
}

.pink {
  color: pink;
}

a {
  color: white;
  text-decoration: none;
}
