section {
  display: flex;
  flex-direction: column;
}

div > h1,
h2 {
  letter-spacing: 2px;
  padding: 20px;
  margin: 10px;
}

.heading-block {
  padding: 20px 0;
}

.heading-title {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  color: white;
  font-style: italic;
}

.heading-title > h1 {
  padding: 12px;
}

.middle-block {
  background-color: white;
  color: black;
}

.bottom-block {
  background-color: rgb(8, 8, 8);
}
