div > h2 {
  letter-spacing: 2px;
  padding: 25px;
  margin: 0px;
}

.hero-container {
  background-color: rgb(32, 32, 32);
}

.heading-block {
  background-color: black;
}

.middle-block {
  background-color: white;
  color: black;
  padding-bottom: 20px;
}

.bottom-block {
  background-color: black;
}

.aside-block {
  background-color: whitesmoke;
  color: black;
}

.verMas a:hover {
  color: black;
}

.Cover {
  grid-area: Cover;
}
.Events {
  grid-area: Events;
}
.Videos {
  grid-area: Videos;
}
.Aside {
  grid-area: Aside;
}

@media (min-width: 1050px) {
  .Template {
    padding: 20px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 1em 1em;
    grid-template-areas:
      "Cover Aside"
      "Events Aside"
      "Videos Aside";
  }

  .Cover,
  .Events,
  .Videos {
    border-left: solid 1px grey;
    border-radius: 9px;
  }
}

@media (min-width: 1250px) {
  .Template {
    grid-gap: 2em 3em;
  }
}
