.navigation-section {
  background-color: black;
  padding: 30px 0 50px;
  margin-bottom: 60px;
}

.artists-buttons {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
  padding: 20px 15px 15px 15px;
}

.btn-artist {
  width: max-content;
  padding: 10px 15px;
  background-color: transparent;
  color: white;
  border-color: rgb(110, 12, 129);
  box-shadow: 0px 0px 8px  crimson;
  font-size: 20px;
}

.btn-artist:hover {
  background-color: transparent;
  color: var(--contrast);
}
