.navigation-section {
  background-color: black;
  padding: 30px 15px 50px;
  margin-bottom: 60px;
}

.artists-buttons {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
  padding: 20px 8px 15px 8px;
}
