@import "vars";

.note-cardi {
  padding: 0;
  width: 95vw;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  border: solid 1px grey;
  border-radius: 0px;
}

.note-card--title p {
  font-size: var(--lg);
  padding: 0 14px;
}

.note-card--category {
  display: flex;
  padding: 14px 0 0 14px;
}

.notes-card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  overflow-x: auto;
  padding: 40px 0px;
  margin: 0;
}

@media (min-width: 415px) {
  .note-cardi {
    max-width: 642px;
  }
}

@media (min-width: 1050px) {
  .note-card-list {
    max-width: 66vw;
  }

}
