.container-privacy {
   font-size: 1rem;
   padding: 3em 1.5em;
   line-height: 1.4;
   max-width: 1000px;
   line-height: 1.6;
}

.container-privacy h1 {
  margin: 0;
}

.container-privacy span {
  font-size: 13px;
}

.container-body {
  margin-top: 50px;
}

.container-body ul {
  max-width: 90%;
}
