.subscribe-home {
  padding-bottom: 30px;
}
.subscribe-aside {
  padding: 20px 0 5px;
}

.btn-subscribe {
  background-color: rgb(201, 0, 0);
  color: white;
  border-color: transparent;
  margin-bottom: 30px;
  border-radius: 4px;
}

.btn-subscribe:hover {
  background-color: rgb(201, 0, 0);
  border-color: rgb(201, 0, 0);
  color: white;
}

.btn-subscribe:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
